html, body {
  margin: 0px;
  width: 240px;
  height: 800px;
  background: #ecf0f1;
}

p {
  text-align: center;
}

ul {
  padding-right: 40px;
}

li {
  padding: 5px;
  clear: both;
  list-style: none;
  height: 40px;
}
li:hover {
  background: #95a5a6;
}

a {
  color: #34495e;
  text-decoration: none;
}

a:hover {
  color: #ecf0f1;
}

img {
  float: left;
  width: 32px;
}

span {
  float: left;
  margin: 2px;
}

.name {
  width: 100px;
}

.viewers {
  width: 100px;
}

